*{
    padding: 0;
    margin: 0;
    font-family: $font;
    font-size: 16px;
    font-weight: 500;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    text-decoration: none;
}

body{
    background-color: #eee;
}