section.principal{
    height: 100vh;
    position: relative;

    > .content{
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        position: relative;

        > .text{
            text-align: center;
            animation: name-show .5s 1.5s ease-out forwards, name-box-shadow .5s 3s ease-in-out forwards;
            opacity: 0;
            position: relative;
            padding: .5rem 1rem;
            padding-top: 0rem;

            > .name{
                font-weight: 700;
                font-size: 40px;
                margin-bottom: -10px;

                &:after{
                    content: '';
                    position: absolute;
                    width: 12px;
                    height: 26px;
                    bottom: -24px;
                    left: -3px;
                    background-color: #eee;
                    transform: rotate(-35deg);
                }

                &:before{
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 24px;
                    top: -8px;
                    right: -14px;
                    background-color: #eee;
                    transform: rotate(-35deg);
                }
            }

            &:after{
                content: '';
                position: absolute;
                top: 0px;
                left: 0px;
                border: 5px solid transparent;
                animation: name-border-1 .5s 2s linear forwards;
            }

            &:before{
                content: '';
                position: absolute;
                bottom: 0px;
                right: 0px;
                border: 5px solid transparent;
                animation: name-border-2 .5s 2.5s linear forwards;
            }
        }
        
        > .profile-container{
            right: 0;
            width: 50%;
            height: 100%;
            top: 0;
    
            > .image{
                height: 100%;
                position: absolute;
                bottom: 0;
                right: 0%;
                max-width: 100%;
            }
        }
    }
}

section.about{
    margin-top: 2rem;
    width: 100%;
    padding: 2rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    position: relative;
    padding-bottom: 4rem;

    > .title{
        font-size: 30px;
        font-weight: 700;
    }

    > .desc{
        font-weight: 400;
        margin-top: 2rem;
    }

    > .floating-triangles{
        position: absolute;
        left: -150px;
        width: 110px;
        animation: triangles reverse 40s linear infinite;
    }

    > .card-triangles{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 150px;
    }
}

section.technologies{
    margin-top: 1rem;
    width: 100%;
    padding: 2rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    > .title{
        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }

    > .list{
        display: flex;
        margin: 0;
        padding: 0;
        position: relative;
        align-items: center;
        max-width: calc((100px + 4rem) * 5);

        > .arrow{
            width: 0;
            height: 0;
            border: 10px solid transparent;
            position: absolute;
            cursor: pointer;

            &.previous{
                left: -30px;
                border-right-color: #aaa;

                &:hover{
                    border-right-color: #333;
                }
            }
    
            &.next{
                right: -30px;
                border-left-color: #aaa;                

                &:hover{
                    border-left-color: #333;
                }
            }

            &.hide{
                display: none;
            }
        }

        > .scroll-track{
            display: flex;
            width: 100%;
            overflow: hidden;
            align-items: center;
            scroll-behavior: smooth;
            user-select: none;

            > .item{
                width: 100px;
                height: 160px;
                flex: 0 0 100px;
                margin: 0 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: .2s;
                opacity: .3;
                position: relative;

                > .text{
                    position: absolute;
                    bottom: -20%;
                    opacity: 0;
                    transition: .2s;
                    font-size: 12px;
                    font-weight: 700;
                    white-space: nowrap;
                    text-align: center;
                }
    
                > .source{
                    max-width: 100px;
                    max-height: 90px;
                    filter: grayscale(1);
                }

                &.active{ 
                    opacity: 1;
                    cursor: default;

                    > .text{
                        bottom: 10px;
                        opacity: 1;
                    }

                    > .source{
                        filter: grayscale(0);
                    }
                }

                &:not(.active):hover{
                    opacity: .7;
                }
            }
        }
    }

}

section.contact{
    margin-top: 1rem;
    display: flex;

    > .left{
        width: 40%;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 3px;
        position: relative;
        padding: 2rem;
        margin-right: 1rem;

        > .title{
            font-weight: 700;
            font-size: 30px;
            margin-bottom: 2rem;
        }

        .desc-input{
            display: flex;
            flex-direction: column;
            margin-bottom: 2rem;
            position: relative;

            > .invalid-feedback{
                position: absolute;
                bottom: -1.2rem;
            }

            > .input{
                width: 100%;
                padding: .5rem 1rem;
                border-radius: 3px;
                border: 1px solid #aaa;

                &:focus{
                    border-color: #333;
                    background-color: #eee;
                }
            }

            textarea{
                resize: none;
                height: 150px;
            }
        }

        .submit{
            padding: .5rem 3rem;
            margin-top: 1rem;
            border: 2px solid #333;
            background-color: transparent;
            color: #333;
            font-weight: 700;
            text-transform: uppercase;
            position: relative;
            outline: none;

            &:hover{
                background-color: #333;
                color: #fff;
                transition: .2s;

                &:after{
                    opacity: 0;
                }

                &:before{
                    right: 10px;
                }
            }

            &:after{
                content: '';
                position: absolute;
                right: -10px;
                font-size: 30px;
                top: 5px;
                background-color: #fff;
                width: 20px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0s;
            }

            &:before{
                content: '→';
                position: absolute;
                right: 0;
                z-index: 2;
                font-size: 30px;
                top: -6px;
                right: -15px;
                transition: right .2s;

            }
        }
    }

    > .right{
        padding: 2rem;

        > .contact-list{
            display: flex;
            flex-direction: column;

            > .item{
                display: flex;
                position: relative;
                margin-bottom: 2rem;

                > .icon{
                    margin-right: .5rem;                    
                }

                > .link{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }

                &:hover{
                    &:after{
                        height: 140%;
                    }
                }

                &:after{
                    content: '';
                    transition: height .2s;
                    position: absolute;
                    height: 0%;
                    width: 3px;
                    background-color: $default;
                    left: -11px;
                    top: -20%;
                }
            }
        }
    }
}

footer.footer{
    width: 100%;
    padding: 3rem 0;
    background-color: #333;
    margin-top: 5rem;
    position: relative;

    > .triangle{
        position: absolute;
        bottom: 0;
        height: 100px;
    }

    .content{
        display: flex;
        justify-content: flex-end;

        a{
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 11px;

            span{
                font-size: 16px;
                margin-left: 1rem;
            }

            &:hover{
                opacity: .7;
            }
        }
    }
}

@media screen and (max-width: 992px){
    section.principal{
        height: unset;

        > .top-triangles{
            display: none;
        }

        > .content{
            padding: 1rem 0;
            justify-content: center;

            > .text{
                animation: name-show .5s ease-out forwards, name-box-shadow .5s 1.5s ease-in-out forwards;

                &:after{
                    animation: name-border-1 .5s .5s linear forwards;
                }

                &:before{
                    animation: name-border-2 .5s 1s linear forwards;
                }
            }
        }
    }

    section.about{
        margin: 0;
    }

    section.contact{
        flex-direction: column;

        > .left{
            width: 100%;
        }

        > .right{
            width: 100%;
        }
    }
    footer.footer{
        margin: 0;

        > .content{
            justify-content: center;
        }

        > .triangle{
            display: none;
        }
    }
}